table {
    margin-left: auto;
    margin-right: auto;
}
th, td {
    text-align: center;
    vertical-align: middle;
}
select {
    margin-top: auto;
    margin-bottom: auto;
}
.table-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

h,h1,h2,h3,h4,h5 {
    text-align: center;
}

a {
    display: block;
}